.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1120px;

    img{
        max-width: 250px;
        align-self: center;
        background-color: var(--project-card-bg);
        backdrop-filter: blur(16px);
        border-radius: 20px;
        -webkit-box-shadow: 0px 0px 8px 0px var(--box-shadow-color); 
        box-shadow: 0px 0px 8px 0px var(--box-shadow-color);
    }

    a {
        width: fit-content;
        text-decoration: none;
        color: #222;
        transition: transform 200ms ease-in-out;
    }

    a:hover {
        transform: scale(1.05);
    }
}
.filterContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-bottom: 48px;


    button{
        background-color: var(--btn-color);
        color: var(--btn-text-color);
        border: none;
        border-radius: 20px;
        padding: 0 24px;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0 ppx 4px rgba(0, 0, 0, 0.25);
        transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
        cursor: pointer;
    }
    button:hover{
        transform: scale(1.05);
    }
    button:active{
        transform: translateY(2px);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    }
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

@media(width >= 800px) {
    .projectsContainer{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 30px;
    }
}