.container {
    color: var(--text-color);
    z-index: 999;
    position: sticky;
    top: 0;
    backdrop-filter: blur(16px);
}

.navbarCenter{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
}

.navMenu ul{
    display: flex;
    align-items: center;
}

.navMenu ul li, .hamburgerMenu ul li {
  list-style-type: none;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
  cursor: pointer;
  border-bottom: 4px solid rgb(255, 255, 255, 0.0);
}

.navMenu ul li:last-child:hover {
  border-bottom: 4px solid rgb(255, 255, 255, 0.0);
}

.navMenu ul li:hover, .hamburgerMenu ul li:hover {
  border-bottom: 4px solid var(--btn-color);
  color: var(--btn-color);
}

.navMenu ul li:active, .hamburgerMenu ul li:active {
  color: var(--btn-color);
  border-bottom: 4px solid var(--btn-color);
}
.container .navMenu ul li{
  padding: 10px;
  margin: 0 10px;
}
.hamburgerIcon{
  display: none;
}
.hamburgerMenu{
  display: none;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.hamburgerMenu ul{
  padding: 0;
}
.hamburgerMenu ul li {
  padding: 16px;
}

@media ( max-width: 800px) {
  .navMenu ul{
    display: none;
  }
  .container{
    backdrop-filter: blur(80px);
  }
  .hamburgerIcon{
    display: flex;
    justify-content: end;
    padding: 16px;
  }
  .navbarCenter{
    display: block;
    justify-content: center;
  }
  .hamburgerMenu{
    display: flex;
  }
}