:root {
  --background-color: #fff;
  --btn-color: #019EFF;
  --btn-text-color: #fff;
  --project-card-bg: #ffffff00;
  --text-color: #222;
  --heading-color: #019EFF;
  --form-text-color: #555;
  --footer-text-color: #888;
}

[data-theme='dark'] {
  --background-color: #222;
  --btn-color: #FF9E23;
  --btn-text-color: #222;
  --project-card-bg: #fff;
  --heading-color: #FF9E23;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
}

body {
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
  background-color: var(--background-color);
  background-image: url(./assets/bg-ovals.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 60%;
  background-position-y: -380px;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 60px;

}

h1, h2, h3, p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h2, h3, p {
  font-family: 'Roboto Mono', monospace;
}
h2{
  color: var(--heading-color);
}
h2{

}

h1, h2{
  text-transform: uppercase;
}

h2, h3{
  font-size: 20px;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 32px;
}

p{
  font-size: 16px;
  font-weight: 300;
}

.sectionTitle {
  margin-bottom: 30px;
}

.hover {
  cursor: pointer;
}

@media(width >= 800px) {
  #root{
    gap: 100px;
  }
  h1 {
    font-size: 40px;
  }
  h2, h3 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }
  .sectionTitle {
    margin-bottom: 60px;
  }
}

@media(width >= 1400px) {
  #root{
    gap: 200px;
  }
  h1 {
    font-size: 48px;
  }

  .sectionTitle {
    margin-bottom: 76px;
  }
}